/* General body styling */
body {
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

/* Header styling */
h1 {
    color: #1DB954; /* A bright color for the main heading */
    text-align: center;
}

/* Section styling */
section {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

h2 {
    color: #ffffff;
    margin-top: 0;
}

/* Input styling */
input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #262626;
    color: #ffffff;
}

button:hover {
    background-color: #1aa34a;
}

/* Tweet display styling */
.tweet {
    padding: 10px;
    border-bottom: 1px solid #333;
    color: #ffffff;
}

.tweet:last-child {
    border-bottom: none;
}

#latestTweets, #userTweets, #searchResults {
    max-height: 300px;
    overflow-y: auto;
}

/* Placeholder styling */
::placeholder {
    color: #999;
}

/* Error message styling */
#error-message {
    background-color: #ff0033;
    color: white;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
}

/* General button styling */
button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #1DB954;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1aa34a;
}

/* Specific styling for the tweet button */
#postTweetForm button {
    width: auto; /* Adjust width to content */
    display: inline-block; /* Allows the button to be smaller than full width */
    margin: 0; /* Remove default margin */
}
